pkgbase = mediavault-bin
	pkgdesc = Self-hosted media vault — browse, tag, manage images and comics
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/levpr1c/MediaVault
	arch = x86_64
	license = MIT
	depends = ffmpeg
	optdepends = gnome-keyring: encrypt API keys in system keychain
	provides = mediavault
	conflicts = mediavault
	source = mediavault-v1.1.0-linux-amd64::https://github.com/levpr1c/MediaVault/releases/download/v1.1.0/mediavault-linux-amd64
	sha256sums = 3fd39a93f85c6e5cccddf09451f8b44a7faec47445fece4c0f0e641e02acbee4

pkgname = mediavault-bin
